
body {
    background-color: rgb(50,50,50);
    /*background-image: linear-gradient(beige, rgb(64, 64, 64))*/

    color: Beige;
}

.my_image {
    width: 120px;
}

.imagesUsers {
    width: 120px;
}
._Registration{
outline: 0;
display: inline-block;
border: 3px solid #1c87c9;
resize: horizontal;
vertical-align:middle;

overflow: auto;
}